*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
}
.menu>div{
margin-left: 40px;
}
.logo>p{
    font-size: 30px;
    margin-top: -15px !important;
    margin-left: 10px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.shopping-bag{
    display: flex;
}

.bag{
    position: absolute;
    top: 30px;
    right: 145px;
}
.crib-photo{
    height: 800px;
    width: calc(100%);
}

.our-advices>p{
font-size: 60px;
position: relative;
top: -520px;
left: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text{
    height: 100px;
    width: 400px;;
}
.text>p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
   top: -500px;
   left: 50px;
}
button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid transparent;
    width: 250px;
    height: 50px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
    position: relative;
   top: -490px;
   left: 50px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(124, 124, 124);

}
.ads p{
  
text-align: center;
}

.ads>strong{
    font-size: 45px;
}
.ads>p{
    font-size: 20px;
    margin-top: 50px;
}
.ads{
    margin-top: -190px;
}
.cards{
    display: flex;
    justify-content: space-evenly;

}
.knots{
    width: calc(100%);
    height: calc(100%);
}
.cards>div{
    margin-top: 30px;
    width: 300px;
    height: 400px;
}
.button{
    position: relative;
    top: 468px;
    left: -25px;
}
.our-story{
    display: flex;
    justify-content: space-evenly;
}
.our-story-item>p{
    color:grey;
    font-size:20px;
    margin-top: 240px;
    margin-bottom: 50px;
    position:relative;
    left: 50px;  

}
.our-story-item strong{
    font-size:50px;
    margin-bottom: 50px;
    position:relative;
    left: 50px;
}
.our-comment{
    width: 450px;
    height: 500px;
}
.comment{
    font-size:20px;
    margin-top: 40px;
    position:relative;
    left: 50px;
}
.coffee-photo{
    width:calc(100% );
    height:500px;
    margin-top: 230px;
    position:relative;
    left: 50px; 
}
.discover{
    position: relative;
    top: -130px;
    left: 235px;
}
.content>strong{
    font-size:40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.galery{
    display: flex;
    justify-content: space-evenly;
    
}
.galery img{
    height: 320px;
    width: calc(100%);
    margin-top: 30px
}
.button{
    box-sizing: border-box;
    margin-left: 420px;
    margin-top: 50px;
}
footer{
   height:450px;
   background-color:black;
   display: flex;
   justify-content: space-evenly;
   color:white;
}
.adress{
    display: flex;
    margin-top:60px;
    font-size:30px;
    justify-content: space-evenly;
}
a{
    color:white
}
.title-part{
    font-size:40px;
}
.adress>div{
    margin-left: 10px;
}
input{
    background-color:gray;
    color: white;
    font-size:20px;
    width:300px;
    height: 50px;
}
.submit{
background-color:white;
color:black;
position: relative;
top: 100px;
left: 30px;
}
